:root {
  --red:   #800500;
  --gold:  #D4AF37;
  --light: #FEFBEA;
  --dark:  #222222;
  color-scheme: light dark; /* both supported */
}

body {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  background-color: var(--dark) ;
  color: var(--light) ;
}

body.light-theme {
  background-color: var(--light) ;
  color: var(--dark) ;
}

.light-theme {
  background-color: var(--light) ;
  color: var(--dark) ;
}

main {
  margin: auto ;
}

.img-max {
  max-width: 400px;
}

a, h2, h3 {
  color: var(--gold);
}

body.light-theme a, body.light-theme h2, body.light-theme h3 {
  color: var(--red);
}

.navbar {
  background-color: var(--red);
  color: var(--light);
}

.active{
  background-color: var(--red);
  color: var(--light);
}

body.light-theme .navbar-brand, .navbar-brand {
  color: inherit;
}

body.light-theme .nav-link, .nav-link {
  color: inherit;
}

.btn-light-dark-toggle, #lang-switch-dropdown-link{
  color: inherit;
}

.my-toggler {
  border-color: var(--light);
}

.my-toggler:hover {
  border-color: var(--gold);
}

.my-toggler .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(254, 251, 234, 1)" stroke="rgba(254, 251, 234, 1)" stroke-width=".5" stroke-linecap="round" stroke-miterlimit="10" class="bi bi-list" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/> </svg>');
  color: var(--light);
}

.active.my-active {
  color: var(--light);
  background-color: var(--dark);
}

.dropdown-item {
  color: var(--light)
}

.dropdown-menu, .dropdown-item:hover {
  color: var(--gold);
  /*background-color: var(--dark);*/
  background-color: var(--red);
}

.dropdown-menu, .dropdown-item:focus {
  color: var(--gold);
  /*background-color: var(--dark);*/
  background-color: var(--red);
}

#lang-switch-dropdown-link:hover, .btn-light-dark-toggle:hover, .nav-link:hover, .navbar-brand:hover, .is-active {
  color: var(--gold);
}

.card {
  /*background-color: var(--dark);*/
  /*color: var(--light);*/
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--gold);
}

.card:hover {
  box-shadow: 0 0.1em 0.2em 0 var(--gold), 0 0.2em 0.4em 0 var(--gold);
}

.center {
  margin: auto;
}

/* For TAGLIST.HTML */
/*.taglist {*/
  /*text-align: center ;*/
  /*clear: both ;*/
/*}*/

/* For NEXTPREV.HTML */
/*#nextprev {*/
  /* The container for both the previous and next articles. */
/*}*/

  /*float: left ;*/
  /*text-align: left ;*/
/*}*/
/*#nextart {*/
  /*float: right ;*/
  /*text-align: right ;*/
/*}*/
/*#nextart,#prevart {*/
  /*max-width: 33% ;*/
/*}*/
