<nav id="nav" class="navbar navbar-expand-md bsb-navbar-hover" aria-label="Main Navigation">
  <div class="d-flex container-fluid">
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
      <img src="/dice_aurealm_square_gold4.svg" alt="arkanthia icon" width="30" height="30">
      Arkanthia
    </a>
    <button class="navbar-toggler my-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon my-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 bsb-zoomIn">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}

{{ if  .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle
        {{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}is-active{{ end
            }} " href="{{ .URL }}" id="navbarDropdown" role="button" data-bs-hover="dropdown" aria-expanded="false">
            {{ if .Pre }}
            {{ $icon := .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
</a></li>
{{ end }}
          </ul>
        </li>
{{ else }}
        <li class="nav-item">
          <a class="nav-link
            {{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}is-active{{ end
            }} " href=" {{ .URL }}">
            {{ if .Pre }}
            {{ $icon := .Pre | safeHTML }}
            {{ $icon }}
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            {{ $text }}
          </a>
        </li>
{{ end }}


        {{ end }}
      </ul>
        <li class="d-flex nav-item ms-auto">
          <button class="btn btn-light-dark-toggle" aria-hidden="true"></button>
        {{/*</li>*/}}
        {{/*<li class="nav-item">*/}}
          {{ partial "widgets/lang-switcher.html" . }}
        </li>
      {{/*</ul>*/}}
    </div>
  </div>
</nav>
