{{ define "main" }}
<div class="container">
  <div class="section">
    {{/*fall back to section title, if no _index.md is provided*/}}

    <h1>
      {{ .Title }}
    </h1>

    {{ if (strings.Contains "Biographie Kel Tuh Las Biography Kel Tuh Las Biographie Löwenzahn Biography Löwenzahn Biographie Aldric von Praven Biography Aldric von Praven Biographie Theobald Bonter Biography Theobald Bonter Über uns About Datenschutzerklärung Privacy Policy Impressum" .Page.Title) }}

    {{ else }}
      {{ partial "metadata.html" . }}
      <br><br>
    {{ end }}
    {{ with  .Resources.GetMatch "img/thumbnail.png" }}
      <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" class="img-fluid rounded" alt="...">
    {{ end }}
    <br><br>

    {{ .Content }}
  </div>
</div>
{{ end }}
