{{ define "main" }}
<div class="container">
  <div class="section">
    {{/*fall back to section title, if no _index.md is provided*/}}

    <h1>
      {{ .Title }}
    </h1>

    {{ partial "metadata.html" . }}

    <div class="img-max center">
      {{ $image := resources.Get (printf "%s" .Params.thumbnail) }}
      {{ with $image }}
        <img src="{{ ($image).RelPermalink }}" class="img-fluid rounded " alt="Thumbnail for {{ .Title }} ">
      {{ end }}
    </div>
    <br>

    {{ .Content }}
  </div>
</div>
{{ end }}
